<!DOCTYPE html>
<html>
<head>
<title>LANChat API</title>
</head>
<body>
<p>Hi!</p>
<p>This is LANChat API by shicj!</p>
<p></p>
<p>API</p>
<p>/api/postMsg/uid=[int]&key=[int]&txt=[str]</p>
<p>/api/getNum</p>
<p>/api/getMsg/mid=[int]</p>
<p>/api/getAllMsg</p>
<p>/api/addUser/name=[str]&key=[str]</p>
<p>/api/findUser/name=[str]</p>
<p>/api/changeKey/uid=[int]&ok=[str]&nk=[str]</p>
<p>/api/checkUser/uid=[int]&key=[str]</p>
<p></p>
<p>Debug</p>
<p>/api/clearMsg</p>
<p>/api/getUserData</p>
</body>
</html>
